.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
/venv
**__pycache__/
.history
/ny_taxi_volume
serving_dir
*.csv
*.parquet
.ipynb_checkpoints/
*.json
prefect.api.key
*.gz